
/*GLOBAL*/


* {
    margin: 0;
    padding: 0;
}
/* police de caractère */
* {
    font-family: "Arial", Helvetica, sans-serif;
}
/*body */
h1 {
    font-family: 'Parisienne', cursive;
    font-weight: 700;
    color: #c49999;
}
body {
    background-color: #e6d9d9;
    
}
/*Formulaires*/





/*INDEX

SECTIONS INCLUSES/PAGE :
functions
head
header
footer

PAGES UTILISANT DU CSS
index
produit
gammes
panier
validation
inscription
connexion
moncompte
commandes
*/


/* HEADER */

/* logo */
nav img {
    width: 150px;
    border-radius: 50%;
}
nav a {
    font-family: 'Arial', Helvetica, sans-serif;
}
nav .nav-link {
    font-size: 20px;
}

/*MODIFMDP*/
.modifmdp{
    width: 50%;
}



/*VALIDATION*/
.modal-header h5 {
    color: green;
}
.validation-box {
    border-style: solid;
    border-color: rgb(232, 191, 191);
    padding: 20px;
    margin-top: 50px;
}


/* FOOTER */
footer {
    margin-top: 50px;
    background-color: black;
    color: white;
    width: 100%;
}
footer i {
    font-size: 30px;
}

/* MON COMPTE */
.user i{
    font-size: 70px;
}
.items i{
    font-size: 40px;
}